@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';
.nav {
    z-index: 1;
}

main {
    display: flex;
    background-color: #fafafa;
}
article {
    width: 500px;
    margin-left: 20%;
    background-color: $backColor;
    border: $mainBorder;
    border-radius: 8px;
    margin-top: 60px;

    .wrapFeed {
        position: relative;
    }

    .feedNav {
        @include flex;
        height: 70px;
        width: 100%;

        .profileImg {
            background-image: url(../../../assets/najeongpark/pong2.JPG);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-left: 20px;
            margin-right: 15px;
        }

        span {
            font-weight: bolder;
        }

        img {
            position: absolute;
            right: 20px;
        }
    }

    .mainImage img {
        width: 100%;
    }

    .icons {
        position: relative;
    }

    .icons img {
        width: 25px;
        margin-left: 10px;
        margin-right: 7px;
    }

    .icons img:last-child {
        position: absolute;
        right: 0;
    }

    .articleBottom {
        position: relative;
        padding-left: 10px;
        border-bottom: 1px solid #bdbaba;
        padding-bottom: 10px;

        .like {
            @include flex;
            margin: 10px 0 10px 0;

            img {
                background-image: url(../../../assets/najeongpark/puppy3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
        }

        span a {
            font-weight: bolder;
        }

        .commentList {
            text-indent: -40px;
            margin: 15px 0;

            strong {
                margin-right: 5px;
            }

            .commentIcons {
                display: inline;
                position: absolute;
                right: 5px;
            }

            .far:before {
                margin-left: 40px;
            }

            .fa-solid {
                color: red;
            }

            .fa-solid:before {
                margin-left: 40px;
            }

            .fa-trash-can:before {
                margin-left: 45px;
            }

            .commentBtn {
                border: none;
                height: 20px;
                display: inline;
            }

            .commentBtn button {
                width: 40px;
                height: 23px;
            }
        }
    }

    .addComment {
        @include flex;
        justify-content: space-around;
        height: 50px;

        input {
            width: 88%;
            height: 40px;
            border: none;
        }

        input:focus {
            outline: none;
        }

        .submitBtn {
            @include submitBtnDefault;
            opacity: 0.3;
        }

        .unSubmitBtn {
            @include submitBtnDefault;
            opacity: 1;
        }
    }
}

aside {
    display: inline-block;
    width: 380px;

    .asideRight {
        margin: 60px 10px 0 20px;
    }

    .myProfile {
        @include flex;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    .introduce {
        margin-left: 20px;

        p:first-child {
            font-size: 20px;
            font-weight: bolder;
        }

        p:last-child {
            color: #bdbaba;
        }
    }

    .storyTab {
        background-color: $backColor;
        border: 1px solid #bdbaba;
        border-radius: 8px;
        height: 280px;
        margin-top: 30px;
        overflow: hidden;

        .storyTop {
            @include flex;
            justify-content: space-between;
            margin: 15px;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        .storyIcon {
            @include flex;
            margin: 15px;
        }

        .storyIcon img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid transparent;
            background-image: linear-gradient(#fff, #fff),
                linear-gradient(to-right, red 0%, orange 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
        }

        /* 테두리 css 하나 | img css 하나 두개를 겹쳐봐 */

        .storyBottom {
            height: 250px;
        }
    }

    .recommend {
        background-color: $backColor;
        border: 1px solid #bdbaba;
        border-radius: 8px;
        height: 250px;
        margin-top: 20px;

        .recommendTop {
            @include flex;
            justify-content: space-between;
            margin: 10px 15px 0 15px;
            font-weight: bolder;
            margin-bottom: 20px;
        }

        .recommendBottom {
            width: 100%;
            height: 200px;
        }

        .recommendIcon {
            @include flex;
            margin: 12px;

            img {
                width: 15%;
                height: 50px;
                border-radius: 50%;
            }

            span {
                color: #4ba0f2;
                font-weight: bolder;
                margin-left: 14%;
                font-size: 15px;
            }
        }

        .otherUser {
            margin-left: 20px;
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            p:first-child {
                font-size: 20px;
                font-weight: bolder;
            }

            p:last-child {
                color: #bdbaba;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main {
        justify-content: center;
    }

    aside {
        display: none;
    }
}
