* {
    box-sizing: border-box;
}

Body {
    height: 100%;
    padding-top: 0px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginpage {
        position: relative;
        width: 500px;
        height: 600px;
        padding: 10px 0px;
        border: 1px solid #dcdcdc;
        background-color: white;
    }

    .title p {
        font-family: Lobster;
        font-size: 50px;
        text-align: center;
        margin: 60px auto;
    }

    .login {
        display: flex;
        justify-content: center;
    }

    .loginForm {
        flex-direction: column;
        width: 80%;
    }

    .id {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: 1px solid black;
        background-color: #fafafa;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        outline: none;
        margin-bottom: 15px;
    }

    .pw {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        border: 1px solid black;
        background-color: #fafafa;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        outline: none;
        margin-bottom: 15px;
    }

    .btn {
        width: 100%;
        height: 50px;
        background-color: #c8e0fc;
        border: 1px solid;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        margin-top: 15px;
    }

    .lostpassword {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        font-size: 15px;
        font-weight: bold;
        color: #466e9c;
        text-align: center;
        align-items: flex-end;
        margin-bottom: 20px;
    }
}
